<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Base File</title> -->
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <style>
    body {
      font-family: 'Quicksand', sans-serif;
    }
  </style>
</head>

<body class="flex flex-col min-h-screen">
  <nav class="bg-gray-800" x-data="{ open: false }">
    <div class="float-left ml-10 mt-2">
      <img class="w-28" src="static/images/quizpl logo final.png" alt="QUIZPL">
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="{% url 'landing_page' %}"
                class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>

              <a href="{% url 'about' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
              <a href="{% url 'faqs' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Faqs</a>
              <a href="{% url 'contact' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact
                US</a>
              <a href="{% url 'responsible_gaming' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Responsible Gaming</a>

            </div>
          </div>
        </div>
        <div class="hidden md:block ">
          <div class="ml-4 flex items-center md:ml-6">
            {% if user.is_authenticated %}
            <button
              class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
              <span class="sr-only">View notifications</span>
              <!-- Heroicon name: bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>

            <!-- Profile dropdown -->
            <div class="ml-3 relative" x-data="{show: false}">
              <div>
                <button @click="show = true"
                  class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-3 focus:ring-offset-3 focus:ring-offset-gray-800 focus:ring-white"
                  id="user-menu" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="{% static 'images/avatar.png' %}" alt="CirCleAvatar">
                </button>
              </div>
              <!--
                        Profile dropdown panel, show/hide based on dropdown state.
      
                        Entering: "transition ease-out duration-100"
                          From: "transform opacity-0 scale-95"
                          To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                          From: "transform opacity-100 scale-100"
                          To: "transform opacity-0 scale-95"
                      -->
              <div x-show="show" @click.away="show = false"
                class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
                role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem"><strong>{{user.username}}</strong></a>

                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>

                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem">Sign out</a>
              </div>
              {% else %}
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

                  <a href="{% url 'login' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>

                  <a href="{% url 'signuppage' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">SignUp</a>

                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block body_block %}

  {% endblock body_block %}
  <script src="{% static 'js/alpine.min.js' %}"></script>
  <footer class="bg-gray-700 p-10 mt-auto">
    <h1 class="text-center text-white">Contact Us:
      <p>info@quizpl.com</p>
      <p>H.No 1 (Lal Building) Near Primary School Morna,
        <br />Sector 35, Noida U. P – 201307
      </p>
    </h1>
    <h1 class="text-center text-white text-xs  pt-4">
      <a href="https://drive.google.com/file/d/1H_UXbcpRE5RfRxIOm72-1KR-5sPdspRk/view" target="_blank" class="sm:underline">Terms and Agreement </a> 
      <!-- <a href="https://drive.google.com/file/d/1H_UXbcpRE5RfRxIOm72-1KR-5sPdspRk/view" target="_blank" class="text-center text-white p-6">Terms and Agreement </a>  -->
    </h1>
    <h1 class="text-center text-white text-xs">
      <a href="https://drive.google.com/file/d/1rolFRzTqJ9vmFVnBIZueites8KAqFtY7/view" target="_blank" class="sm:underline">Privacy Agreement</a>
      <!-- <a href="https://drive.google.com/file/d/1rolFRzTqJ9vmFVnBIZueites8KAqFtY7/view" target="_blank" class="text-center text-white p-6">Privacy Agreement</a> -->
    </h1>
    <!-- <div class="float-right p-6">
    </div> -->
    <br>
    <br>
    <h1 class="text-center text-white">&copy;Copyright-Title 2020</h1>
  </footer>
</body>
<style>
  body {
    display: flex;
    min-height: 500vh;
    flex-direction: column;
  }
</style>

</html>